.con-top {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;

    @media screen and (min-width: 1300px) {
        display: grid;
        grid-template-areas:
            "cart cart total"
        ;
        grid-template-columns: 1fr 1fr .8fr;
    }

    .items {
        grid-area: cart;
        display: grid;
        row-gap: .8rem;

        @media screen and (min-width:1300px) {
            row-gap: 0;
        }

        .cart {
            margin-bottom: .5rem;

            @media screen and (min-width:1300px) {
                background-color: #fff;
                margin-bottom: 0;
                padding: 1rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .cart_tt {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .click {
                    &:hover {
                        cursor: pointer;
                        color: red;
                    }
                }
            }

            .emptyCart {
                color: red;
                text-align: center;

                @media screen and (min-width:1300px) {
                    margin-top: 3rem;
                }
            }
        }
    }

    .sub_total_top {
        display: flex;
        justify-content: space-between;
        background-color: #777;
        color: #fff;
        padding: 1rem;
        position: sticky;
        top: 5.5rem;

        @media screen and (min-width:1300px) {
            display: none;
        }
    }

    .sub_total_bottom {
        height: max-content;

        @media screen and (min-width:13000px) {
            grid-area: total;
        }

        background-color:#fff;
    }

    .heading {
        .heading-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .li {
                width: 100px;
                background-color: green;
                align-items: center;
            }
        }
    }
}