.con-top {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    column-gap: 1rem;
    row-gap: 2rem;

    @media screen and (min-width: 1300px) {
        grid-template-areas:
            "cart cart total"
        ;
        grid-template-columns: 1fr 1fr .8fr;
    }

    .items {
        grid-area: cart;
    }

    .sub_total_top {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 1rem;

        @media screen and (min-width:1300px) {
            display: none;
        }
    }

    .sub_total_bottom {
        @media screen and (min-width:13000px) {
            grid-area: total;
        }

        background-color: green;
    }

    .heading {
        .heading-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .li {
                width: 100px;
                background-color: green;
                align-items: center;
            }
        }
    }
}