.btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    color: #555;
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
        cursor: pointer;
        border: none;
        background-color: #000;
        color: #eee;
    }

    &.google-sign-in {
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: rgb(65, 91, 236);

        }
    }

    &.redirect {
        width: 100%;
        padding: 1rem 2.5rem;
        background-color: #000;
        color: #fff;

        &:hover {
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
        }
    }

    &.primary-btn {
        border: 1px solid #999;
        background-color: #fff;

        &:hover {
            background-color: #000;
        }
    }

    &.cart {
        border: 1px solid #999;
        background-color: #fff;
        width: max-content;
        align-self: center;
        padding: .5rem 1rem;

        &:hover {
            background-color: #000;
            border: 1px solid #000;
        }
    }

    &.checkout {
        font-size: 16px;
        width: 100%;
        background-color: #000;
        border: 1px solid #000;
        color: #fff;
        border-radius: 0%;

        &:hover {
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
        }
    }

    &.addOrRemove {
        font-size: 20px;
        padding: .2rem .7rem;
        background-color: #eee;
        color: #000;
        border: 1px solid #000;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

    &.btnCard {
        width: max-content;
        height: 1rem;
        display: flex;
        align-items: center;
    }
}