.singles {
    display: flex;
    background-color: #fff;
    padding: 20px;

    .img-singles {


        .img-si {
            width: 94px;
            height: 94px;
            object-fit: contain;
        }
    }

    .content-singles {
        .content-sin {
            display: flex;
        }
    }
}