

body {
  margin: 0;
  font-family: 'Mulish',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
  background: rgba(255, 255, 255, 0.82)
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  
}

input[type='password']{
  letter-spacing: .3rem;
}