* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin-left: 1rem;
    margin-right: 1rem;

    @media screen and (min-width : 1600px) {
        margin-left: auto;
        margin-right: auto;
    }
}

    .container-three {
        max-width: 1440px;
        margin-inline: 1rem;

        @media screen and (min-width : 1442px) {
            margin-inline: auto;
        }
    }

    
.container-form {
    max-width: 560px;   
}

