.Shop {
    width: 100%;
    min-height: 100vh;
    justify-content: center;

    .title {
        text-align: center;
        margin: 1rem 0;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}